@model Curso
@{
    ViewData["Title"] = "Creación de Curso";
    Layout = "Simple";
}

<h1>@ViewData["Title"] </h1>

<div asp-validation-summary="All"></div>
<form method="post">
    <div>
        @*<label asp-for="Nombre"></label>
        <input asp-for="Nombre" />*@
        @Html.LabelFor(x => x.Nombre)
        @Html.TextBoxFor(x => x.Nombre)
        @Html.ValidationMessageFor(x => x.Nombre)
    </div>
    <div>
        @*<label asp-for="Dirección"></label>
        <input asp-for="Dirección" />*@
        @Html.LabelFor(x => x.Dirección)
        @Html.TextBoxFor(x => x.Dirección)
        @Html.ValidationMessageFor(x => x.Dirección)
    </div>
    <div>
        <label asp-for="Jornada"></label>
       @Html.DropDownList(
       "Jornada", Html.GetEnumSelectList<TiposJornada>(),
       "Seleccione una jornada",
       new {@class ="form-control" }
       )
    </div>
    <input type="submit" />
</form>


<p><i>@ViewBag.Fecha</i></p>